* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select:none;
}

body {
  margin: 0;
  font-family: 'Aqua Grotesque', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2c2d;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
